.customDD {
    width: 105px;
    /*border: 1px solid red;*/
    display: block;
    position: absolute;
    right: 12%;
    height: 190px;
    z-index: 1;
    overflow: hidden;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    position: relative;    
}

.dropbtn:hover {
    background-color: #0086b3;
    transition: 0.3s;
}

.dropbtn:active {
    background-color: #007399;
    transition: 0.3s;
}

.dd-content-hide {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dd-content {
    display: block;
    position: relative;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dd-content button {
    color: black;
    width: 100px;
    display: block;
    position: relative;
    border-radius: 5px;
    margin-top: 2px;
    border: 1px solid rgba(60,60,190,0.5);
  }

  .dd-content button:hover {
    background-color: #3498DB;
    color: white;
    transition: 0.2s;
  }

  .show {display: block;}

  /*----------------- Custom Top Modal  */
  .m-cont {
    width: 100%;
    /*border: 1px solid red;*/
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 1;
    position: fixed;
    top: 0;
    transition: 0.3s;
    display: block;
  }

  .m-cont-hide {
    width: 100%;
    /*border: 1px solid red;*/
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 1;
    position: fixed;
    top: 0;
    transition: 0.3s;
    display: none;
  }

  .m-modal-cont {    
    top: 0px;
    width: 100vw;
    height: 11vh;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,1);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;    
    justify-content: space-evenly;
    transition: 0.3s;
  }

  .m-modal-cont-hide {
    top: -60px;
    width: 100vw;
    height: 11vh;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,1);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    justify-content: space-evenly;
    transition: 0.3s;
  }

  .m-title {
    /*border: 1px solid red;*/
    width: 60vw;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m-btn {
    /*border: 1px solid blue;*/
    width: 10vw;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .m-btn-1 {
    border:1px solid #99ccff;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.3s;
  }

  .m-btn-1:hover {
    color: white;
    background-color: #99ccff;
    transition: 0.3s;
  }