.react-toast-container {
    background-color: black;
    color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transform: translateY(-500px);
    transition: 0.4s;
}
.react-toast-container.show {
    transform: translateY(0px);
}